.begin{
    margin-left:8rem;
    margin-top:1.5rem;
}
.begin:hover{
    background-color:rgba(153, 226, 134, 0.808);
    cursor:pointer;
    transition:0.2s;
}

.header{
    display:flex;
    flex-direction:row;
    gap:1.5rem;
}
.question-number{
    font-size:26px;
}

.number{
    font-size:36px;
    font-weight:bolder;
    color:rgba(59, 136, 84, 0.89);
    margin-left:0.7rem;
}
.question{
    font-size:24px;
    margin-top:2rem;
    border-bottom:2px solid rgba(59, 136, 84, 0.89);
    padding-bottom:1rem;
    color:rgb(107, 107, 107);
}

.answers{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    margin-top:1rem;
    margin-bottom:2rem;
    margin-right:2rem;
    align-items:center;
    gap:1rem; 
}
.answer{
    background-color:rgba(97, 122, 103, 0.452);
    border:0;
    border-radius:30px;
    padding:1rem 1rem; 
    padding-left:2rem;
    font-family: 'Commissioner', sans-serif;
    color:rgb(255, 255, 255);
    font-size:17px;
    margin-top:2rem;
    margin-left:2.5rem;
}
.answer:hover{
    color:rgb(255, 255, 255);
    background-color:rgba(153, 226, 134, 0.808);
    transition:0.2s;
    cursor:pointer;
}

.answer.active{
    border-color:greenyellow;
    background-color:rgba(153, 226, 134, 0.808);
    color:rgb(255, 255, 255);
    margin-left:2rem;
    cursor:pointer;
    box-shadow:0px 0px 6px 0px rgba(153, 226, 134, 0.808);
    transition:0.3s; 
}



.answer.active-red{
    border-color:rgb(207, 61, 61);
    background-color:rgba(219, 75, 56, 0.582);
    color:rgb(255, 255, 255);
}
.next-back{
    
    margin-right:5.3rem;
    display:flex;
    flex-direction:row-reverse;
    text-align:center;  
    gap:1.5rem;
}

.next{
    width:12rem;
    font-family: 'Commissioner', sans-serif;
    font-size:16px;
    background-color:rgba(108, 206, 157, 0.89);
    border:0;
    border-radius:20px;
    padding:0.6rem 1.5rem;  
    color:black;
}
.next:hover{
    background-color:rgba(153, 226, 134, 0.808);
    cursor:pointer;
    transition:0.3s;
}

.final{
    display:flex;
    flex-direction:row;
}
.final-message-score{
    font-size:2rem;
    margin-top:2rem;
    margin-left:3rem;
    display:flex;
    flex-direction:column;
}

.score{
    font-size:40px;
}
.final-image{
   
    height:30rem;
    width:auto;
}

.see-correct{

    width:13rem;
    font-family: 'Commissioner', sans-serif;
    font-size:16px;
    background-color:rgba(108, 206, 157, 0.89);
    border:0;
    border-radius:20px;
    padding:0.6rem 1.5rem;  
    color:black;
    margin-top:2rem;
    margin-left:2.5rem; 
}

.see-correct:hover{
    background-color:rgba(153, 226, 134, 0.808);
    cursor:pointer;
    transition:0.3s;
}

.social{
    display:flex;
    flex-direction:row;
    gap:2rem;
    font-size:24px;
    margin-top:5rem;
    align-items:center;
}
.fa{
    color:rgba(47, 131, 82, 0.89);
    background-color:rgba(255, 255, 255, 0);
    text-decoration: none;
    font-size:1.7rem;
    width:2rem;
}

.fa:hover{
    color:rgba(108, 206, 157, 0.89);
    font-size:1.8rem;
    transition:0.1s;
}

@media (max-width:1500px){
    .message{
        width:100%;
    }
    .final-message-score{
        margin-left:-1rem;
    }
}

@media (max-width:1250px){
    .final{
        flex-direction:column;
    }
    .final-image{
        width:30rem;
        height:auto; 
    }
}

@media (max-width:738px){
    .answers{
        display:grid;
        grid-template-columns: 1fr;  
}
   
}

@media (max-width:550px){
    
    .final-message-score{
        padding-left:0;
        width:100%;
        margin:0 auto;
        margin-top:2rem;
    }
    .quiz-description{     
        font-size:16px;
        margin-left:2rem
    }
    .answers{
        gap:0.3rem;
        padding-left:0;
        margin-left:0;   
        width:100%;
    }
    .next-back{
      flex-direction:column;
      margin-top:1.5rem;
    }  
    .question-number{
        margin-top:2rem;
    }
    .final-image{
   
        width:20rem;
        height:auto; 
    }
}


